{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}

<div class="card card-body">
  <h3>Update Job Card</h3>
  <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT"> {{!-- Consultant --}}
    <div class="form-group">
      <label for="taskid">taskid</label>
      <textarea class="form-control" name="taskid">{{idea.taskid}}</textarea>
    </div>
    <div class="form-group">
      <label for="action">action</label>
      <textarea class="form-control" name="action">{{idea.action}}</textarea>
    </div>
    <div class="form-group">
      <label for="problem">problem</label>
      <textarea class="form-control" name="problem">{{idea.problem}}</textarea>
    </div>
    <div class="form-group">
      <label for="address">address</label>
      <textarea class="form-control" name="address">{{idea.address}}</textarea>
    </div>
    <div class="form-group">
      <label for="suburb">suburb</label>
      <textarea class="form-control" name="suburb">{{idea.suburb}}</textarea>
    </div>
    <div class="form-group">
      <label for="customername">customername</label>
      <textarea class="form-control" name="customername">{{idea.customername}}</textarea>
    </div>
    {{!-- contractor --}}
    <div class="form-group">
      <label for="assignedto">assignedto</label>
      <textarea class="form-control" name="assignedto">{{idea.assignedto}}</textarea>
    </div>
    <div class="form-group">
      <label for="status">status</label>
      <textarea class="form-control" name="status">{{idea.status}}</textarea>
    </div>
    {{!-- service worker --}}
    <div class="form-group">
      <label for="standnumber">standnumber</label>
      <textarea class="form-control" name="standnumber">{{idea.standnumber}}</textarea>
    </div>
    <div class="form-group">
      <label for="streetnumber">streetnumber</label>
      <textarea class="form-control" name="streetnumber">{{idea.streetnumber}}</textarea>
    </div>
    <div class="form-group">
      <label for="streetname">streetname</label>
      <textarea class="form-control" name="streetname">{{idea.streetname}}</textarea>
    </div>
    <div class="form-group">
      <label for="meternumber">meternumber</label>
      <textarea class="form-control" name="meternumber">{{idea.meternumber}}</textarea>
    </div>
    <div class="form-group">
      <label for="metertype">metertype</label>
      <textarea class="form-control" name="metertype">{{idea.metertype}}</textarea>
    </div>
    <div class="form-group">
      <label for="reading">reading</label>
      <textarea class="form-control" name="reading">{{idea.reading}}</textarea>
    </div>
    <div class="form-group">
      <label for="dails">dails</label>
      <textarea class="form-control" name="dails">{{idea.dails}}</textarea>
    </div>
    <div class="form-group">
      <label for="size">size</label>
      <textarea class="form-control" name="size">{{idea.size}}</textarea>
    </div>
    <div class="form-group">
      <label for="agedreplacement">agedreplacement</label>
      <textarea class="form-control" name="agedreplacement">{{idea.agedreplacement}}</textarea>
    </div>
    <div class="form-group">
      <label for="waterleaks">waterleaks</label>
      <textarea class="form-control" name="waterleaks">{{idea.waterleaks}}</textarea>
    </div>
    <div class="form-group">
      <label for="fittingsused">fittingsused</label>
      <textarea class="form-control" name="fittingsused">{{idea.fittingsused}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>